#contactFormContainer{
	background: #222222;
	padding:10px;
	border-width: 1px;
	border-color: black;
	border-style: solid;
}

.contactFormElementPadding input,.contactFormElementPadding textarea, #ContactFormCapcha{
	width: 100%;
	font-size: 20px;
}

#submitButton input{
	font-size: 20px;
	width: auto;
	margin-left:0px;	
}

#formSent{
	font-size: 50px;
	text-align: center;
	overflow: hidden;
	height: 0px;
}
.warning{
	position: relative;
	margin-left: 10px;
	color:red;
}

@media screen and (min-width: 900px) {

	.contactFormElementPadding input,.contactFormElementPadding textarea, #ContactFormCapcha{
		margin-left:20px;	

		width: 50%;
	}

}